

.footer_container{
    width: 100%;
    padding: 2rem;
    font-family: 'Jost', sans-serif;
    font-size: .8rem;
    background-color: rgb(36, 50, 139);
    color: azure;
}


/* COLUMN FLEX CONTAINER */
.footer_wrapper{
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    height: 10rem;
}

/* INNER BOXES */
.box{
    display: flex;
    flex-direction: column;
    border: 1px solid orange;
    justify-content: space-around;
    width: 50%;
}

.footer_title{
    font-size: 1.5rem;
    font-family: 'Jost', sans-serif;

}


.footer_email a {
    text-decoration: none;
    text-transform: uppercase;
    color:azure;
  }

  .navbar_wrapper a:hover {
    cursor: pointer;
    text-decoration: underline;
  }


