html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Albert Sans', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: rgb(255,255,255);
  color: rgb(36, 50, 139);
}

* {
  box-sizing: border-box;
}

.main a {
 
  text-decoration: none;
  text-transform: uppercase;
}

.main a:hover {
  animation: transitionIn;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}


/* MAP SVG */
path {
  pointer-events: all;
}
path:hover {
  opacity: 0.5;
  cursor: pointer;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

