.header_container{
    width: 100%;
    display: flex;
    align-items: center;
}

.header_wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-family: 'Backslash';
    font-size: 3rem;
    padding: 2rem;
}

.title a {
    color: rgb(32, 58, 123);
    text-decoration: none;
}

.icon {
    margin: 1rem;
}


.nav_container{
    width: 50%;
    padding-top: 1rem;
}

@media only screen and (max-width: 900px)  {
    .nav_container{
        display: none;
    }

   .header_container .title{
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    }  
}


@media only screen and (min-width: 900px)  {

    .header_container .icon{
        display:none;
    }

}
