.header_container{
    width: 100%;
    border: 1px solid green;
    display: flex;
    align-items: center;
}

.header_wrapper{
    width: 100%;
    display: flex;
    border: 1px solid green;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-family: 'Backslash';
    font-size: 2.5rem;
    padding: 1rem;
}

.title a {
    color: rgb(32, 58, 123);
    text-decoration: none;
}

.icon {
    margin: 1rem;
}