.home_container {
  width: 100%;
}

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1{
  font-family: 'Nanum Myeongjo', serif;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: .05em;
  color: rgb(87, 111, 114);
}

/* 
LARGER SCREENS */
@media only screen and (min-width: 900px)  {
  .title h1{
    font-size: 1.5rem;
  }
}

.text {
  display: flex;
  letter-spacing: .01em;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-family: 'Jost', sans-serif;
}

.text p{
  width: 100%;
}
.map{
  padding: 1rem;
}

