.nav_container{
    width: 100%;
    font-family: 'Jost', sans-serif;
    font-size: .8rem;
} 

.navbar_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.navbar_wrapper a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }

  .navbar_wrapper a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: black;
  }


