/* .nav_container{
    width: 100%;
    font-family: 'Jost', sans-serif;
    font-size: .8rem;
    border-top: 1px solid rgba(207, 198, 198, 0.749);
    border-bottom: 1px solid rgba(207, 198, 198, 0.749);;
}

.navbar_wrapper{
    padding:1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar_wrapper a {
    text-decoration: none;
    text-transform: uppercase;
  }

  .navbar_wrapper a:hover {
    cursor: pointer;
    text-decoration: underline;
  }

 */
