.data_wrapper{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.subsection{
    padding-right: 5rem;
}

.label{
    font-size: .85rem;
    font-weight: 800;
    font-family: 'Jost';
    color: rgb(38, 53, 80);
    text-transform: uppercase;
}

.answer{
    padding-top: .5rem;
    padding-bottom: 1.2rem; 
}

